.panel.panel-default
  .panel-heading{ id: "heading-#{tool.id}", role: 'tab'}
    %h4.panel-title 
      .container
        .row
          .col-md-10
            %a{ 'data-toggle' => "collapse",  'data-parent' => "#accordion",  href: "#collapse-#{tool.id}", 'aria-expanded' => "true", 'aria-controls' => "collapse-#{tool.id}"}
              = tool.name 
          .col-md-2
            = button_to 'New Version', new_tool_version_path(tool), method: 'get', class: 'btn btn-default'
  .panel-collapse.collapse{ id: "collapse-#{tool.id}", role: "tabpanel", 'aria-labelledby' => "heading-#{tool.id}" }
    .panel-body
      = render partial: 'version_table', locals: {tool: tool, versions: tool.versions}
