.container
  .page-header
    %h1 Create a new tool

  = render partial: 'common/form_errors', locals: {object: @tool}
  = form_for(@tool) do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :repository_path
      = f.text_field :repository_path
    %p
      = f.submit


