.container
  .page-header
    %h1 New Tool Version

  - if @version.errors.any?
    .error_explanation
      %h3
        = pluralize(@version.errors.count, "error")
        prohibited this article from being saved:

      %ul
      - @version.errors.full_messages.each do |msg|
        %li= msg

  = form_for([@tool, @version]) do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :release_notes
      = f.text_area :release_notes
    %p
      = f.submit
