.container

  .page-header
    %h1 Version Information

  .well.version-summary
    %h3
      Tool:
      = @version.tool.name

    %h3
      Version:
      = @version.name

    %h3
      Release Notes:
      = @version.release_notes

  %table.table.table-striped.table.border
    %tr
      %th Site
      %th State
      %th
        = button_to "Install All",
          tool_install_all_path(version_id: @version.id),
          class: "btn btn-default install-all"
    - @version.installations.each do |installation|
      %tr
        %td= installation.site.name
        %td= installation.state
        %td
          = button_to "Install", 
            tool_install_one_path(id: installation.id, version_id: @version.id),
            class: "btn btn-default install-one"
